$base-margin: 130px;
$base-color: #ea1e48;

nav#header {
  padding: 20px 130px 20px 130px;
  color: white;
  background: rgba(0, 0, 0, 0.2);
  top: 0;
  width: 100%;
  z-index: 1;
  font-weight: bold;
  background-size: cover;
  background-repeat: no-repeat;


  a, button, span {
    color: white !important;
  }

  button {
    border-color: white !important;
    border-radius: 10px;
  }

  @media (max-width: 992px) {
    padding-left: 30px;
    text-align: left;
  }
}