$base-margin: 130px;
$base-color: #ea1e48;

#editEvent {
  .img {
    height: 500px;
    border-radius: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}